*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Courier New', Courier, monospace;
    background: rgb(251, 255, 255);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

::-webkit-scrollbar{
    width: 12px;
}
::-webkit-scrollbar-track{
    background: transparent;
}
::-webkit-scrollbar-thumb{
    background: #02a88d;
    border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover{
    background: #10c0a3;

}


.headline,footer{
    font-size: 30px;
    background: linear-gradient(90deg, #393f4d 50%,#1d1e22);
    color: rgb(41, 245, 160);
    padding: 7px;
    padding-left: 20px;
}
footer{
    font-weight: bold;
    font-size: 20px;
    text-align: right;
}
.instructions{
    width: 100%;
    background: rgb(238, 238, 238);
    font-size: 17px;
    font-weight: bold;
    /* padding: 7px; */
    padding: 7px 0;
    padding-left: 20px;
    position: relative;
    box-sizing: border-box;
    user-select: none;
}
.instructions ul {
    width: 100%;
    padding-left: 20px;
    list-style-type: none;
    box-sizing: border-box;
}
.instructions ul li{
    margin-bottom: 4px;
}

.highlight{
    color: #058dc3;
    font-size: 19px;
    cursor: pointer;
}

#closeInstructions{
    position: absolute;
    right: 20px;
    top: 10px;
    cursor: pointer;
    padding: 7px;
    background: rgb(185, 184, 184);
    border-radius: 2px;
}
#instructionText{
    cursor: pointer;
}

.input{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

form{
    /* margin-top: 20px; */
    padding: 7px;
    padding-left: 10px;
    display: flex;
    flex-direction: row ;
    flex-wrap: wrap;
    /* align-self: center; */
    box-sizing: border-box;
    user-select: none;
}

form input,form label{
    margin: 7px;
}
form label{
    padding: 5px 20px 5px 15px;
    border-radius: 7px;
    font-size: 17px;
    border: 2px solid rgb(48, 187, 115);
    /* cursor: pointer; */
    position: relative;
}

form .select{
    cursor: pointer;
}
form .radio {
    display: none;
}
form .radio:checked+label{
    background: rgb(232, 255, 242);
}

form label:active{
    background: rgb(232, 255, 242);
}

form .btn {
    margin: 7px;
    padding: 5px 15px;
    /* min-height: 40px; */
    border-radius: 7px;
    outline: none;
    border: 2px solid rgb(104, 163, 219);
    background: rgb(235, 244, 250);
    font-size: 17px;
    cursor: pointer;
}

form .btn:active {
    border: 2px solid rgb(80, 226, 153);
    background: rgb(232, 255, 242);
    transform: scale(1.025);
}


form label img,.mainWords img, .instructions img {
    width: 25px;
    position: absolute;
    z-index: 1;
    top: -5px;
    right: -11px;
}

select {
    width: 45px;
    padding: 1px;
    border: 1px solid rgb(151, 148, 148);
    border-radius: 3px;
    outline: none;
}

.words img {
    z-index: 10;
}

.instructions img{
    right: 10px ;
    top: 5px;
    width: 16px;
    padding: 7px;
    background-color: #3a4253;
    border-radius: 4px;
    cursor: pointer;
}

.currentChars {
    min-width: 280px;
    max-width: 100%;
    /* margin-left: 20px; */
    margin-left: 7px;
    margin-top: 12px;
    /* border: 2px solid red; */
    font-size: 17.5px;
    font-style: italic;
    align-self: flex-start;
    font-weight: 400;
}

.specCharInput{
    width: 100%;
    /* margin: -25px 0 0 0; */
    box-sizing: border-box;
    padding-top: 3;
}

.specCharInput label {
    width: 630px;
    min-width: 300px;
}

.specCharInput input{
    width: 95%;
    height: 22px;
    font-size: 20px;
    padding: 3px 7px;
    font-family:Arial, Helvetica, sans-serif;
    outline: none;
    border: 2px solid rgb(145, 143, 143);
    border-radius: 5px;
}

.specCharInput input:focus{
    border: 2px solid rgb(81, 218, 115);
    outline: none;
}

.bracket{
    color: rgb(233, 29, 15);
}

.mainWords{
    /* width: 100%; */
    height: 400px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center ;
    position: relative;
    /* justify-content: space-between; */
    /* border: 2px solid red; */
    /* border: 20px solid #ffecec; */
}

.words ,.typeWords{
    min-width: 80%;
    max-width: 80%;
    min-height: 160px;
    max-height: 160px;
    border: 2px solid grey;
    /* margin: 20px; */
    /* margin-bottom: 20px; */
    border-radius: 7px;
    padding: 10px;
    box-sizing: border-box;
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    overflow: auto;
    line-height: 1.3;
    letter-spacing: 1px;
    background: white;
    position: relative;
    text-align: justify;
}

.words>img {
    z-index: 10;
    user-select: none;
}

.first{
    font-size: 19px !important;
    font-weight: 500;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.typeWords:focus {
    outline: none;
}

.score{
    width: 280px;
    border: 2px solid grey;
    border-radius: 5px;
    height: 40px;
    /* padding: 7px; */
    box-sizing: border-box;
    background: rgb(240, 240, 240);
    /* text-align: center; */
    /* line-height: 1.65; */
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.score .bar {
    width: 100%;
    height: 100%;
    /* background: green; */
    overflow: hidden;
    position: relative;
    /* text-align: center; */
}

.bar .percentage{
    width: 280px;
    position: absolute;
    z-index: 1;
    padding-left: 10px;
    line-height: 1.9;
    font-size: 18px;
}

.bar .progress {
    width: 0%;
    height: 100%;
    background: rgb(80, 226, 153);
    border-radius: 3px;
}
